pjm-cli/docs/xsd/jcmramp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="rampdownload">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FileCreated"/>
				<xs:element ref="Location"/>
				<xs:element ref="RampList" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RampList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Company"/>
				<xs:element ref="Ramp"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ramp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Interval" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Location">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MISO"/>
				<xs:enumeration value="PJM"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Interval">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EffectiveDate"/>
				<xs:element ref="AvailableImportMW"/>
				<xs:element ref="AvailableExportMW"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileCreated" type="xs:dateTime"/>
	<xs:element name="EffectiveDate" type="xs:dateTime"/>
	<xs:element name="Company">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="COMPOSITE"/>
				<xs:enumeration value="MISO"/>
				<xs:enumeration value="PJM"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AvailableImportMW" type="xs:int"/>
	<xs:element name="AvailableExportMW" type="xs:int"/>
</xs:schema>
